*.o
*.d
*.elf
*.hex
*.eep
*.sym
*.bin
*.lss
*.map
*.bak
*.class
Documentation/
LUFA/StudioIntegration/ProjectGenerator/*
LUFA/StudioIntegration/DocBook/*
!LUFA/StudioIntegration/Docbook/mshelp/*
printer_src/post_imgs/*.png
printer_src/image.c
printer_src/converted_img.c
printer_src/clean_log.txt
printer_src/make_log.txt